# LangChain Core
langchain
langchain-community
# OpenAI Integration
langchain_ollama

# Environment Variable Management
python-dotenv

# streamlit for interactive demos
streamlit

# pydantic for data validation
pydantic[email]

# PyPDFLoader for PDF document loading
pypdf
unstructured